@import "tailwindcss";

@theme {
	/* Colors */
	--color-dark-bg: #031212;
	--color-dark-surface: #071f1e;
	--color-brand-green: #00ff9d;
	--color-brand-green-dim: #00cc7d;

	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-serif: "Newsreader", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
	--font-body: var(--font-sans);
}

body {
	font-family: var(--font-sans);
	@apply antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}


.pattern-grid-lg {
	background-image: radial-gradient(currentColor 1px, transparent 1px);
	background-size: 24px 24px;
}
